<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for using Pair BnB, <%= @user.name %></h1>
    <p>
      You have successfully reserved your listings!
      <br>
    </p>
    <br>
    <p>Have a pleasant trip! Stay Awesome!</p>
    <p>
      To continue browsing for listings to the site, click <%= link_to "Here", listing_url %>.
    </p>
  </body>
</html>